node_modules
.env
.env.dev
.env.prod

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
package-lock.json
yarn.lock
.openzeppelin/
